---
import { getImage } from 'astro:assets'
import bgImg from '@/assets/desk_bg.jpg'
const optimizedBackground = await getImage({ src: bgImg, format: 'webp' })
---

<!doctype html>
<html lang='en' data-url={optimizedBackground.src}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Jigsaw Puzzle</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>

<script>
  const htmlEl = document.querySelector('html')
  if (htmlEl) {
    htmlEl.style.backgroundImage = `url("${htmlEl.dataset.url}")`
    htmlEl.style.backgroundSize = 'cover'
    htmlEl.style.backgroundPosition = 'center'
  }
</script>
